.main 
{
  width: 1080px;
  height: 1757px;
  margin-top: 464px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.top
{
  height: 50%;
  display: flex;
  flex-direction: row;
}

.fixed
{
  height: 464px;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 0;
  width:100%;
  left: 0;
}

.child
{
  margin-top: 5%;
  flex: 2;
  width: 50%;
}

.border
{
  border-bottom: rgb(235, 235, 235);
  border-width: 2px;
  border-bottom-style: solid;
}

.button
{
  background-color: rgba(88, 0, 156, 1);
  border: none;
  color: white;
  padding-left: 750px;
  padding-top: 100px;
}

.idone
{
  flex: 1 1 0;
}

.idtwo
{
  flex: 2 1 0;
  text-align: left;
}

.idsub
{
  flex: 3;
  margin: 0px;
  flex: 1 1 0;
}

.idsubone
{
  flex: 3;
  margin: 0px;
  flex: 1 1 0;
}

.idsubtwo
{
  flex: 3;
  margin: 0px;
  flex: 3 1 0;
}

select{
  -webkit-appearance: none;
}
